.App-logo {
  height: 150px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.up {
  position: relative;
  left: 130px;
  margin: 15px;
 }
 
 .down {
  position: relative;
  left: 130px;
  margin: 15px;
 }

.left {
  position:relative;
  bottom: 50px;
  left: 20px;
}
.right {
  position:relative;
  bottom: 50px;
  right: 20px;
}
.upleftarm {
  position:relative;
  bottom: 50px;
  right: 20px;
}
.downleftarm {
  position:relative;
  bottom: 50px;
  left: 20px;
}
.uprightarm {
  position:relative;
  bottom: 50px;
  right: 20px;
}
.downrightarm {
  position:relative;
  bottom: 50px;
  left: 20px;
}

.pulse {
  position:relative;
  left: 10px;
  margin-bottom: 20px;
}